{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            {% include "base_page_title.html" %}
            <h4 class="header-title">Tyo Revandi (1301180314)</h4>
            <a href="{% url 'page1:tambah' %}">
                <button type="button" class="ladda-button btn btn-success"
                    data-style="slide-right"><i class="mdi mdi-square-edit-outline"></i>
                    Buat Message
                </button>
            </a>

            <div class="card-body">
                <h4 class="header-title">Message</h4>
                <p></p>
                <table id="state-saving-datatable" class="table activate-select dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>NAMA</th>
                            <th>NIM</th>
                            <th>MESSAGE</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for page1 in object_list %}
                        <tr>
                            <td>{{ page1.nama }}</td>
                            <td>{{ page1.nim }}</td>
                            <td>{{ page1.message}}</td>
                            <td>
                                <a href="{% url 'page1:ubah' page1.id %}">
                                    <button type="button" class="ladda-button btn btn-success"
                                        data-style="slide-right"><i class="mdi mdi-square-edit-outline"></i>
                                        Edit
                                    </button>
                                </a>

                                <button type="button" class="btn btn-danger waves-effect waves-light"
                                                data-toggle="modal" data-target=".bs-example-modal-center{{page1.id}}"><i
                                                    class="mdi mdi-delete"></i> Delete</button>

                                            <div class="modal fade bs-example-modal-center{{page1.id}}" tabindex="-1"
                                                role="dialog" aria-labelledby="myCenterModalLabel" aria-hidden="true"
                                                style="display: none;">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="myCenterModalLabel">Are you sure
                                                                to delete?</h4>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-hidden="true">×</button>
                                                        </div>

                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary waves-effect"
                                                                data-dismiss="modal">Close</button>
                                                            <a href="{% url 'page1:hapus' page1.id %}">
                                                                <button type="button"
                                                                    class="btn btn-danger waves-effect waves-light"
                                                                    data-style="slide-right"><i
                                                                        class="mdi mdi-delete"></i> Delete</button>
                                                            </a>
                                                        </div>
                                                    </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                            </div><!-- /.modal -->
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div> <!-- container -->

    </div> <!-- content -->

    {% include "base_footer.html" %}

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->

{% endblock %}